Repository turbot/steampipe-plugin-aws, pull requests merged in 2021-03, with the labels that each got.

#114 Add SSM > Association table. closes #82
  aws-test/tests/aws_ssm_association/dependencies.txt
  aws-test/tests/aws_ssm_association/test-get-expected.json
  aws-test/tests/aws_ssm_association/test-get-query.sql
  aws-test/tests/aws_ssm_association/test-list-expected.json
  aws-test/tests/aws_ssm_association/test-list-query.sql
  aws-test/tests/aws_ssm_association/test-notfound-expected.json
  aws-test/tests/aws_ssm_association/test-notfound-query.sql
  aws-test/tests/aws_ssm_association/test-turbot-expected.json
  aws-test/tests/aws_ssm_association/test-turbot-query.sql
  aws-test/tests/aws_ssm_association/variables.json
  aws-test/tests/aws_ssm_association/variables.tf
  aws/plugin.go
  aws/table_aws_ssm_association.go
  docs/tables/aws_ssm_association.md
Labels: enhancement

#210 Fix typo in ElastiCache doc file name closes #209
  docs/tables/aws_elasticache_cluster.md
Labels: bug

#135 Add table_aws_eventbridge_rule. Closes #113
  aws-test/tests/aws_eventbridge_rule/dependencies.txt
  aws-test/tests/aws_eventbridge_rule/test-get-expected.json
  aws-test/tests/aws_eventbridge_rule/test-get-query.sql
  aws-test/tests/aws_eventbridge_rule/test-hydrate-expected.json
  aws-test/tests/aws_eventbridge_rule/test-hydrate-query.sql
  aws-test/tests/aws_eventbridge_rule/test-list-expected.json
  aws-test/tests/aws_eventbridge_rule/test-list-query.sql
  aws-test/tests/aws_eventbridge_rule/test-not-found-expected.json
  aws-test/tests/aws_eventbridge_rule/test-not-found-query.sql
  aws-test/tests/aws_eventbridge_rule/test-turbot-expected.json
  aws-test/tests/aws_eventbridge_rule/test-turbot-query.sql
  aws-test/tests/aws_eventbridge_rule/variables.json
  aws-test/tests/aws_eventbridge_rule/variables.tf
  aws/plugin.go
  aws/service.go
  aws/table_aws_eventbridge_rule.go
  docs/tables/aws_eventbridge_rule.md
Labels: enhancement, new-table

#178 Add table aws_elastic_beanstalk_environment. closes #157
  aws-test/tests/aws_elastic_beanstalk_environment/dependencies.txt
  aws-test/tests/aws_elastic_beanstalk_environment/test-get-expected.json
  aws-test/tests/aws_elastic_beanstalk_environment/test-get-query.sql
  aws-test/tests/aws_elastic_beanstalk_environment/test-hydrate-expected.json
  aws-test/tests/aws_elastic_beanstalk_environment/test-hydrate-query.sql
  aws-test/tests/aws_elastic_beanstalk_environment/test-list-expected.json
  aws-test/tests/aws_elastic_beanstalk_environment/test-list-query.sql
  aws-test/tests/aws_elastic_beanstalk_environment/test-not-found-expected.json
  aws-test/tests/aws_elastic_beanstalk_environment/test-not-found-query.sql
  aws-test/tests/aws_elastic_beanstalk_environment/test-turbot-expected.json
  aws-test/tests/aws_elastic_beanstalk_environment/test-turbot-query.sql
  aws-test/tests/aws_elastic_beanstalk_environment/variables.json
  aws-test/tests/aws_elastic_beanstalk_environment/variables.tf
  aws/plugin.go
  aws/service.go
  aws/table_aws_elastic_beanstalk_environment.go
  docs/tables/aws_elastic_beanstalk_environment.md
Labels: enhancement, new table
